<div class="row gap-3 flex flex-wrap mt-5">
    <h3 *ngIf="products.length > 0; else No Product">{{title}}</h3>
    <ng-template #No Product>
            <div class="alert alert-warning w-100">
                There is no product in this section
            </div>
    </ng-template>
    <!--? *ngIf conditional rendering olusturur. -->
    <div *ngFor="let product of products" class="card" style="width: 18rem;">
        <img src={{product.img}} class="card-img-top" alt="laptop">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  
  
 
  
    
</div>